.buttonBox{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.button{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
    padding: 5px;
    background-color: chocolate;
    border: 1px solid darkorange;
    border-radius: 5px;
    cursor: pointer;
    color: aquamarine;
    transition-duration: 200ms;
}

.button:hover{
    background-color: aquamarine;
    color: black;
    border: 1px solid darkred;
}